@font-face {
    font-family: 'wicons';
    src: url(//cdn2.editmysite.com/fonts/wIcons/wicons.eot?buildTime=1234);
    src: url(//cdn2.editmysite.com/fonts/wIcons/wicons.eot?buildTime=1234#iefix) format('embedded-opentype'),
    url(//cdn2.editmysite.com/fonts/wIcons/wicons.woff?buildTime=1234) format('woff'),
    url(//cdn2.editmysite.com/fonts/wIcons/wicons.ttf?buildTime=1234) format('truetype'),
    url(//cdn2.editmysite.com/fonts/wIcons/wicons.svg?buildTime=1234#wicons) format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Hack to smooth out font rendering on Chrome for Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'wicons';
        src: url(//cdn2.editmysite.com/fonts/wIcons/wicons.svg?buildTime=1234#wicons) format('svg');
    }
}

@font-face {
    font-family: 'wsocial';
    src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.eot?buildTime=1234);
    src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.eot?buildTime=1234#iefix) format('embedded-opentype'),
    url(//cdn2.editmysite.com/fonts/wSocial/wsocial.woff?buildTime=1234) format('woff'),
    url(//cdn2.editmysite.com/fonts/wSocial/wsocial.ttf?buildTime=1234) format('truetype'),
    url(//cdn2.editmysite.com/fonts/wSocial/wsocial.svg?buildTime=1234#wsocial) format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Hack to smooth out font rendering on Chrome for Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'wsocial';
        src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.svg?buildTime=1234#wsocial) format('svg');
    }
}

.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
}

#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
}

.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {
}

.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
}

#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
}

.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {
}

#wsite-title {
    font-family: "Actor" !important;
    font-size: 16px !important;
    color: #e05c5c !important;
}

.wsite-menu-default a {
}

.wsite-menu a {
}

.wsite-image div, .wsite-caption {
}

.galleryCaptionInnerText {
}

.fancybox-title {
}

.wslide-caption-text {
}

.wsite-phone {
}

.wsite-headline {
}

.wsite-headline-paragraph {
}

.wsite-button-inner {
}

.wsite-not-footer blockquote {
}

.wsite-footer blockquote {
}

.blog-header h2 a {
}

#wsite-content h2.wsite-product-title {
}

.wsite-product .wsite-product-price a {
}
